.genreItem__wrapper {
    max-width: 1600px;
    margin: auto;
}

.genreItem__content {
    display: flex;
    justify-content: center;
}

.genreItem__content--main {
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    gap: 2rem;
}

@media screen and (max-width: 689px) {
    .genreItem__content--main {
        gap: 1rem;
    }
}