.contact__wrapper {
    padding: 1rem 2rem;
}

.contact__content h1 {
    padding-top: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
}

.contact__content--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}


.contact__left--one,
.contact__left--two {
    border: 2px solid var(--color-black);
    border-radius: 3rem;
    width: 50%;
}

.contact__left--one {
    height: 620px;
    margin-right: -10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact__left--one img {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

.contact__left--two {
    margin: 70px 0 0;
    height: 600px;
    background: var(--white-primary);
}





form {
    width: 100%;
    background: var(--white-color);
    padding: 1.4rem 2.5rem 0;
    border-radius: 2.5rem;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 1rem .8rem .1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

input, textarea {
    width: 100%;
    padding: .8rem;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 2px solid var(--color-black);
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.submit{
    margin-top: .7rem;
    width: 90%;
    max-width: 16rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.2rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.contact__right {
    padding-top: 30%;
    width: 35%;
}

.center {
    text-align: center;
}

.contact__address,
.contact__phone,
.contact__email {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contact__phone,
.contact__email {
    padding-top: 1rem;
}
.icon {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .contact__content--main {
        flex-direction: column;
    }
}


@media screen and (max-width: 678px) {
    .contact__wrapper {
        padding: 1rem 1.5rem 2rem;
    }
    .contact__content h1 {
        font-size: 3rem;
    }
    .contact__left--one,
    .contact__right {
        display: none;
    }
    .contact__left {
        padding: 0rem;
        width: 100%;
    }
    .contact__left--two
    {
        width: 100%;
    }
    form {
        padding: 1.3rem 1.7rem 0;
    }
    .submit{
        margin-top: 1.1rem;
    }
}

