.feature__container {
    background-color: var(--color-white);
    font-family: var(--font-base);
}

.feature__content {
    max-width: 1300px;
    margin: auto;
}

.feature__card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: pink;
}

.feature__market {
    
}