.featureImages__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featureImages__card {
    margin: 1.5rem 1rem;
}

.featureImages__card img {
    width: 400px;
    height: 200px;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.featureImages__card p {
    color: var(--color-black);
    text-align: center;
}





@media screen and (max-width: 650px) {
    .featureImages__content {
        flex-direction: column;
        width: 100%;
    } 

    .featureImages__card img {
        width: 350px;
        height: 180px;
    }
}