.feature-images__container-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-images__container-card img {
    width: 400px;
    height: 200px;
    border-radius: 4px;
}

.feature-images__container-card p {
    color: var(--color-white);
    text-align: center;
}





@media screen and (max-width: 650px) {
    .feature-images__container-wrapper {
        flex-direction: column;
    } 
}