.footer__container {
    background-color: var(--color-black);
}

.footer__wrapper {
    padding: 2rem 5rem;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    font-family: var(--font-base);
}

.footer__socialIcons {
    display: flex;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width: 1025px) {
    .footer__wrapper {
        padding: 1rem .5rem;
    }
    .footer__content {
        flex-direction: column;
    }
    .footer__center {
        display: none;
    }
}