.footer__container {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-base);
}

.footer__wrapper {
    max-width: 1300px;
    margin: auto;
    padding: 3rem 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer__left p {
    padding: .8rem 0 .4rem;
    font-size: .8rem;
    width: 90%;
}

.footer__left-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-top: .8rem;
}


.footer__right {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.footer__right h1 {
    padding-bottom: .3rem;
}
.footer__right li {
    list-style: none;
    padding: .3rem 0;
    font-size: .8rem;
}


.mobileView {
    display: none;
}




@media screen and (max-width: 450px) {
    .footer__content {
        flex-direction: column;
    }

    .footer__left,
    .footer__right-title,
    .footer__right li  {
        display: none;
    }

    .footer__right {
        width: 100%;
    }

    .mobileView {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}