.footer__container {
    background-color: var(--color-black);
}

.footer__wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 1rem 2rem;
}

.footer__content {
    display: flex;
    color: var(--color-white);
}

p,h3,li,div {
    font-family: var(--font-base);
}

.footer__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.footer__description {
    margin: 1.3rem 0;
}

.footer__icons {
    display: flex;
    gap: 1rem;
}

.footer__center {
    flex: 1;
    padding: 1.3rem;
}

.footer__center--title {
    margin-bottom: 1.8rem;
}

.footer__center--list {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer__center--list li {
    width: 50%;
    margin-bottom: .8rem;
    cursor: pointer;
}

.footer__right {
    flex: 1;
    padding: 1.4rem;
}

.footer__right--title {
    padding-bottom: 1.5rem;
}

.footer__right--location,
.footer__right--phone,
.footer__right--email {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.footer__right img {
    width: 50%;
}

@media screen and (max-width: 1025px) {
    .footer__wrapper {
        padding: 1rem .5rem;
    }
    .footer__content {
        flex-direction: column;
    }
    .footer__center {
        display: none;
    }
}