.navbar__container {
    background-color: var(--color-white);
}

.navbar__wrapper{
    padding: .5rem 5rem;
}

.navbar__content--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__content--main img {
    width: 50px;
    cursor: pointer;
}

.navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.navbar__links a {
    color: var(--color-black);
    font-family: var(--font-base);
    font-size: 1rem;
    font-weight: 300;
    transition: ease-in-out;
}

.navbar__links a:hover { 
    border-bottom: 2px solid var(--color-primary);
}

.navbar__smallScreen {
    display: none;
}


@media screen and (max-width: 1150px){
    .navbar__smallScreen {
        display: block;
    }
    .navbar__links {
        display: none;
    }
    .navbar__logo {
        font-size: 2rem;
    }
}


@media screen and (max-width: 900px){
    .navbar__wrapper{
        padding: 1rem 1rem;
    }
}