.navbar__container {
    background-color: var(--color-black);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.navbar__wrapper{
    padding: 1rem 2rem;
}

.navbar__content--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__searchContainer {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 4rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__searchContainer input,
.navbar__searchContainer p {
    padding: 0 .5rem;
}

.navbar__searchContainer input:focus {
    outline: none;
}
.navbar__searchContainer p {
    font-family: var(--font-base);
}

.navbar__logo {
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-white);
    font-family: var(--font-base);
}

.navbar__links {
    border: 2px solid var(--color-primary);
    border-radius: 4rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar__links div {
    height: 10px;
    width: 1px;
    background-color: var(--color-primary);
}

.navbar__links a {
    color: var(--color-primary);
    padding: 0 .5rem;
    font-family: var(--font-base);
    font-size: .9rem;
}

.navbar__smallScreen {
    display: none;
}


@media screen and (max-width: 1150px){
    .navbar__smallScreen {
        display: block;
    }
    .navbar__links,
    .navbar__searchContainer input {
        display: none;
    }
    .navbar__searchContainer {

    }
    .navbar__searchContainer p {
        display: block;
        font-size: 1rem;
    }
    .navbar__logo {
        font-size: 2rem;
    }
}


@media screen and (max-width: 900px){
    .navbar__wrapper{
        padding: 1rem 1rem;
    }
}