.navbar__container {
    background-color: var(--color-white);
}

.navbar__wrapper{
    padding: .5rem 5rem;
}

.navbar__content--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__content--main img {
    width: 50px;
    cursor: pointer;
}

.navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.navbar__links a {
    color: var(--color-black);
    font-family: var(--font-base);
    font-size: 1rem;
    font-weight: 300;
    transition: ease-in-out;
}

.navbar__links a:hover { 
    border-bottom: 2px solid var(--color-primary);
}

.navbar__smallScreen {
    display: none;
}


/*For SmallScreens */

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
    color: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}


.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay__closeLogo {
    top: 20px;
    left: 20px;
}

.app__navbar-smallscreen-links {
    list-style: none;
}

.app__navbar-smallscreen-links li {
    margin: 2rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
}

.x {
    color: var(--color-black);
}

@media screen and (max-width: 1150px){
    .navbar__smallScreen {
        display: block;
    }
    .navbar__links {
        display: none;
    }
    .navbar__logo {
        font-size: 2rem;
    }
}


@media screen and (max-width: 900px){
    .navbar__wrapper{
        padding: 1rem 1rem;
    }
}