.productItem__content {
    margin: 3px;
    min-width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.productItem__content img {
    height: 55%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
    border-radius: 10px;
}

.productItem__box {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.productItem__text {
    font-size: 8px;
}

.productItem__text--title {
    margin-top: 30px;
    font-weight: 200;
}

.productItem__textTwo {
    display: flex;
    flex-direction: row;
}

.productItem__textTwo--price {
    padding: 8px 0px;
    font-weight: 500;
}

.productItem__console {
    font-weight: 300;
    font-size: 12px;
}