.app__container {
    background-color: var(--color-black);
}

.app__header {
    background-color: var(--color-black);
    max-width: 1400px;
    margin: auto;
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-white);
    line-height: 100px;
    letter-spacing: 0.04em;
    font-size: 70px;
}

.app__header img {
    width: 100%;
}

.app__wrapper_info button {
    background-color: white;
    color: black;
}


@media screen and (max-width: 650px) {
    .app__header-h1 {
        line-height: 70px;
        font-size: 70px;
    }
}