.categories__wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 1rem 3rem;
    font-family: var(--font-base);
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1150px) {
    .categories__wrapper {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .categories__content {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}