.categories__wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 1rem 3rem;
    font-family: var(--font-base);
}

.categories__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 1150px) {
    .categories__wrapper {
        padding: 1rem 2rem;
    }
    .categories__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 689px) {
    .categories__content {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}