.product__wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 1rem 2rem;
}

.product__content--main {
    padding: 5rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product__content p {
    text-align: left;
    padding: 3rem 0 2rem;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 1.5rem;
}

@media screen and (max-width: 1315px) {
    .product__content--main {
        padding: 5rem 0 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1015px) {
    .product__content--main {
        padding: 5rem 0 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 689px) {
    .product__content--main {
        padding: 5rem 0 4rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}